<!DOCTYPE html>
<html ng-app="whereInIllinois">
	<head lang="en">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Where In Illinois</title>
		<!-- styles -->
		<link rel="stylesheet" href="styles/vendor.css"/>
		<link rel="stylesheet" href="styles/main.css"/>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css">
		<!-- scripts -->
	 	<script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
		<script src="js/bundled.js"></script>

	</head>

	<body class="ng-cloak">

		<div class="container" ng-controller="MapController">
			
		</div>
		
		<div class="container" ng-controller="MainController">
			<leaflet center="center" width="100%" height="480px" ></leaflet>
			<div class="row" ng-repeat="obj in locationData">
				<div class=" kind three columns">{{obj.kind}}:</div>
				<div class="nine columns">{{obj.name}}</div>
			</div>


			<!-- <ul id="list">
				<li ng-repeat="obj in locationData">
					<span class="kind">{{obj.kind}}:</span> <h3 class="name">{{obj.name}}</h3>
				</li>
			</ul> -->
		</div>


	
	</body>
</html>